* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Revalia-Regular';
    src:  url('../fonts/Revalia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header_logo {
    font-family: 'Revalia-Regular', Arial, sans-serif;
    font-size: 48px;
    width: 96px;
    height: 60px;
    padding-left: 190px;
    padding-top: 20px;
    color: #34547A;
  
} 
.content {
     width: 1920px;
     height: 700px;
     padding-left: 0px;
     padding-top: -7px;
     background: #EEEFF1;
}
.menu {
    margin-right: 200px ;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
}

.menu a {
    float: right;
    padding: 15px;
    font-family: 'Roboto-Regular', Arial, sans-serif;
    color: #000000; 
    text-decoration: none;
    margin-top: 5px;
    font-size: 16px;
    
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff') format('woff');
    font-size: 16px;
    font-weight: 500px;
    font-style: normal;
}

.menu .home {
    font-family: 'Roboto-Medium', Arial, sans-serif ;
    color:#34547A;
}

.header_title {
    font-family: 'Roboto-Medium', Arial, sans-serif;
    font-weight: 200px;
    font-size: 20px;
    line-height: 79px;
    margin-left: 750px;
    margin-top: 100px;
    color: #000000;
}

.header_text {
    font-family: 'Roboto-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 541px;
    height: 45px;
    margin-left: 700px;
    margin-top: 50px;
    color: #000000;
}

.header_button {
    font-family: 'Roboto-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 225px;
    height: 50px;
    margin-left: 720px;
    margin-top: 50px;
    background: #34547A;
    color: #EEEFF1;
}

.header_button a {
    color: #EEEFF1;
}

.container {
    width: 325px;
    height: 225px;
    margin-left: 20px;
}